/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6e86f;
    border-bottom: 3px solid #FF5733;
}
main{
    flex: 1;
    padding-top: 1%;
    background-color: #c1e3c1;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

h1 {
    color: #2E3A59;
    margin: 0;
    font-size: 2rem;
    margin-left: 35%;
}
h3{
    color: #2E3A59;
    margin-left: 25%;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-form input {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.input-login, .input-pass{
    width: 25%;
}
.login-form button {
    padding: 5px 15px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout button{
    padding: 5px 15px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout button:hover{
    background-color: #C70039;
}

.login-form button:hover {
    background-color: #C70039;
}

/* Buscador */
.buscador {
    margin: 20px auto;
    text-align: center;
}

.buscador input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.buscador button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buscador button:hover {
    background-color: #C70039;
}

.respuesta_negativa{
    display: flex;
    justify-content: center;
    color: #C70039;
    font-size: large;
    font-weight: bold;
}

/* Tabla */
.pokemon-table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pokemon-table {
    width: 65%;
    border-collapse: collapse;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

.pokemon-table thead {
    background-color: #1e86ac;
}

.pokemon-table th {
    padding: 10px;
    color: #333;
    font-weight: bold;
}

.pokemon-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pokemon-table img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.pokemon-table tbody tr:nth-child(odd) {
    background-color: #A3E4D7;
}

.pokemon-table tbody tr:nth-child(even) {
    background-color: #D4EFDF;
}

.pokemon-table td, .pokemon-table th {
    border: 1px solid #76D7C4;
}

/*Botones modificar y dar de baja pokemones*/
.modif{
    padding: 5px 15px;
    background-color: #ff6d4d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.modif:hover {
    background-color: #C70039;
}

.baja{
    padding: 5px 15px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.baja:hover{
    background-color: darkgreen;
}

.nuevo-pokemon button{
    padding: 5px 15px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.nuevo-pokemon button:hover{
    background-color: blue;
}

.nuevo-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f6e86f;
    border-top: 3px solid #FF5733;
    color: #2E3A59;
    font-size: 1rem;
}

/*Detalle de Pokemon*/

.main-container {
    margin: 40px auto;
    max-width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-back {
    background-color: #2a75bb;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-back:hover {
    background-color: #1a56a3;
    color: white;
}

.pokemon-detail {
    padding: 30px;
    text-align: center;
}


.imagen_detalle{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    margin-top: 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen_detalle:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-info{
    display: flex;
    flex-direction: row;
}

.detalle{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    margin-left: 3%;
}

.pokemon-info h2 {
    font-size: 2.5rem;
    color: #2a75bb;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.pokemon-info h2:hover {
    color: #ffcb05; /* Color al pasar el cursor, puedes cambiarlo por el que prefieras */
}

.pokemon-info p.description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.tipos {
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.tipos-badge {
    display: flex;
    align-items: center;
    background-color: #2a75bb;
    color: #fff;
    padding: 8px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #1a56a3;
}

.tipos-badge img {
    width: 30px;
    height: 30px;
    margin-right: 0px;
}

.evoluciones {
    margin-top: 40px;
}

.evoluciones-titulo {
    font-size: 1.8rem;
    color: #ffcb05;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 10%;
}
.tipos{
  padding-top: 10%;
    margin-left: 3%;
    margin-top: 3%;
}

.evolution-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.evolution-item {
    text-align: center;
    margin-left: 20%;
}

.evolution-item img.evolution-image {
    width: 70%;
    height: auto;
    border: 3px solid #ffa500;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.evolution-item p {
    font-size: 1rem;
    color: #2a75bb;
    margin-top: 5px;
}

.pokemon-not-found {
    text-align: center;
    font-size: 1.5rem;
    color: #dc3545;
    margin-top: 50px;

}

.text-danger{
    font-size: 1.5rem;

    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #2a75bb,
    0 0 15px #2a75bb,
    0 0 20px #2a75bb,
    0 0 25px #2a75bb,
    0 0 30px #2a75bb,
    0 0 35px #2a75bb;
    animation: glow 1.5s infinite alternate;
}

.texto-peligro{
    margin-top: 15%;
    margin-left: 3%;
    margin-left: 3%;
}

.linkDetalle{
    text-decoration: none
}

.linkDetalle :active{
   color: #dc3545;
}


@media (max-width: 1130px) {
    h1{
        font-size: 1.8rem;
        text-align: center;
    }

    h3{
        margin-left: 0;
        text-align: center;
    }

}

@media (max-width: 800px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
        margin-right: 20px;
        display: inline-block;
    }

    .login-form {
        align-items: flex-start;
        margin-right: 0;
    }

    .login-form input {
        width: 100%;
        margin-bottom: 8px;
        padding: 8px;
        font-size: 0.9rem;
    }

    .login-form button {
        width: 100%;
        padding: 8px;
        font-size: 0.9rem;
    }

    .nuevo-pokemon, .logout {
        display: inline-block;
        margin-left: 5px;
    }

    h3 {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    .buscador input[type="text"] {
        width: 45%;
        padding: 8px;
        font-size: 0.9rem;
    }

    .buscador button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .pokemon-table img {
        width: 100px;
        height: auto;
    }

    .pokemon-table td img {
        width: 50px;
        height: 50px;
        margin: 0 5px;
        }

    .modif, .baja {
        font-size: 0.8rem;
        padding: 3px 5px;
        width: auto;
        margin: 1px;
    }

    .pokemon-table td a {
        font-size: 0.9rem;
    }

    .pokemon-table td:nth-child(3) {
        font-size: 0.9rem;
    }

    .login-form {
        align-items: flex-start;
        margin-right: 0;
        margin-top: 10px;
    }
    .mensaje{
        font-size: 0.8rem;
    }

    .pokemon-info{
        display: flex;
        flex-direction: column;
    }


    .imagen_detalle{
        width: 40%;
        height: 40%;
       margin-left: 30%;
    }
    .evolution-item  {
    margin-right: 15%;
    }
}


@media (max-width: 500px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

   .logo img{
       width: 35px;
       height: 35px;
   }

    h1 {
        font-size: 1.2rem;
        margin: 0;
        display: inline-block;
        margin-right: 10px;
    }

    h3 {
        font-size: 0.7rem;
        margin-right: 10px;
    }


    .login-form {
        align-items: flex-start;
        margin-right: 0;
        margin-top: 10px;
    }

    .login-form input {
        width: 100%;
        margin-bottom: 8px;
        padding: 6px;
        font-size: 0.5rem;
    }

    .login-form button {
        width: 100%;
        padding: 6px;
        font-size: 0.6rem;
    }

    .crear-cuenta{
        font-size: 0.6rem;
    }


    .nuevo-pokemon button, .logout button {
        font-size: 0.7rem;
        padding: 2px 5px;
    }

    .buscador input[type="text"] {
        width: 45%;
        padding: 8px;
        font-size: 0.6rem;
    }

    .buscador button {
        padding: 8px 5px;
        font-size: 0.7rem;
    }

    .pokemon-table img {
        width: 100px;
        height: auto;
    }

    .pokemon-table td img {
        width: 35px;
        height: 35px;
        margin: 0 3px;
    }

    .modif, .baja {
        font-size: 0.6rem;
        padding: 2px 3px;
        width: auto;
        margin: 1px;
    }

    .pokemon-table th, .pokemon-table td {
        font-size: 0.7rem;
        padding: 10px;
    }

    .pokemon-table th {
        padding: 10px;
    }

    .pokemon-table td a {
        font-size: 0.6rem;
    }

    .pokemon-table td:nth-child(3) {
        font-size: 0.6rem;
    }

    .mensaje{
        font-size: 0.6rem;
    }

    /*detalles del poke*/

    .text-center mb-4 h1{
        font-size: 1.4rem;
    }

    .btn-back {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    .pokemon-info h2{
        font-size: 1.7rem;
    }

    .pokemon-info p.description {
        font-size: 1rem;
    }

    .pokemon-info img.main-image {
        width: 100%;
        max-width: 220px;
        height: auto;
    }
    .tipos-badge {
        padding: 6px 8px;
    }

    .tipos-badge img {
        width: 25px;
        height: 25px;
        margin-right: 0px;
    }

    .evoluciones-titulo {
        font-size: 1.4rem;
    }

    .evolution-list {
        gap: 15px;
    }

    .evolution-item img.evolution-image {
        width: 60%;
        max-width: 150px;
        height: auto;
    }

    .pokemon-not-found {
        font-size: 1rem;
    }

}


@media (max-width: 400px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo img{
        width: 28px;
        height: 28px;
    }

    h1 {
        font-size: 0.8rem;
        margin: 0;
        margin-right: 10px;
        display: inline-block;
    }

    h3 {
        font-size: 0.6rem;
    }

    .login-form {
        align-items: flex-start;
        margin-top: 10px;
    }

    .login-form input {
        width: 100%;
        margin-bottom: 8px;
        padding: 6px;
        font-size: 0.4rem;
    }

    .login-form button {
        width: 100%;
        padding: 6px;
        font-size: 0.5rem;
    }

    .crear-cuenta{
        font-size: 0.5rem;
    }


    .nuevo-pokemon button, .logout button {
        font-size: 0.6rem;
        padding: 2px 3px;
    }

    .buscador input[type="text"] {
        width: 35%;
        padding: 8px;
        font-size: 0.6rem;
    }

    .buscador button {
        padding: 8px 3px;
        font-size: 0.6rem;
    }

    .pokemon-table img {
        width: 100px;
        height: auto;
    }

    .pokemon-table td img {
        width: 30px;
        height: 30px;
        margin: 0 2px;
    }

    .modif, .baja {
        font-size: 0.5rem;
        padding: 2px 2px;
        width: auto;
        margin: 1px;
    }

    .pokemon-table th, .pokemon-table td {
        font-size: 0.6rem;
        padding: 8px;
    }

    .pokemon-table th {
        padding: 8px;
    }

    .pokemon-table td a {
        font-size: 0.6rem;
    }

    .pokemon-table td:nth-child(3) {
        font-size: 0.6rem;
    }

    .mensaje{
        font-size: 0.5rem;
    }

    /*detalles del poke*/

    .btn-back {
        padding: 5px 8px;
        border-radius: 3px;
        font-size: 0.7rem;
    }

    .pokemon-info h2{
        font-size: 1.4rem;
    }

    .pokemon-info p.description {
        font-size: 0.8rem;
    }

    .pokemon-info img.main-image {
        width: 100%;
        max-width: 180px;
        height: auto;
    }
    .tipos-badge {
        padding: 6px 7px;
    }

    .tipos-badge img {
        width: 20px;
        height: 20px;
    }

    .evoluciones-titulo {
        font-size: 1rem;
    }

    .evolution-list {
        gap: 10px;
    }

    .evolution-item img.evolution-image {
        width: 60%;
        max-width: 120px;
        height: auto;
    }

    .pokemon-not-found {
        font-size: 0.8rem;
    }

    .text-danger{
        font-size: 0.8rem;
    }

}
