/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6e86f;
    border-bottom: 3px solid #FF5733;
}
main{
    flex: 1;
    padding-top: 1%;
    background-color: #c1e3c1;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

h1 {
    color: #2E3A59;
    margin: 0;
    font-size: 2rem;
    margin-left: 35%;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-form input {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.input-login, .input-pass{
    width: 20%;
}
.login-form button {
    padding: 5px 15px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #C70039;
}

/* Buscador */
.buscador {
    margin: 20px auto;
    text-align: center;
}

.buscador input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.buscador button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buscador button:hover {
    background-color: #C70039;
}

.respuesta_negativa{
    display: flex;
    justify-content: center;
    color: #C70039;
    font-size: large;
    font-weight: bold;
}

/* Tabla */
.pokemon-table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pokemon-table {
    width: 65%;
    border-collapse: collapse;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

.pokemon-table thead {
    background-color: #1e86ac;
}

.pokemon-table th {
    padding: 10px;
    color: #333;
    font-weight: bold;
}

.pokemon-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pokemon-table img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.pokemon-table tbody tr:nth-child(odd) {
    background-color: #A3E4D7;
}

.pokemon-table tbody tr:nth-child(even) {
    background-color: #D4EFDF;
}

.pokemon-table td, .pokemon-table th {
    border: 1px solid #76D7C4;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f6e86f;
    border-top: 3px solid #FF5733;
    color: #2E3A59;
    font-size: 1rem;
}