/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6e86f;
    border-bottom: 3px solid #FF5733;
}
main{
    flex: 1;
    padding-top: 1%;
    background-color: #c1e3c1;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

h1 {
    color: #2E3A59;
    margin: 0;
    font-size: 2rem;
    margin-left: 35%;
}
h3{
    color: #2E3A59;
    margin-left: 25%;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-form input {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.input-login, .input-pass{
    width: 25%;
}
.login-form button {
    padding: 5px 15px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout button{
    padding: 5px 15px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout button:hover{
    background-color: #C70039;
}

.login-form button:hover {
    background-color: #C70039;
}

/* Buscador */
.buscador {
    margin: 20px auto;
    text-align: center;
}

.buscador input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.buscador button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buscador button:hover {
    background-color: #C70039;
}

.respuesta_negativa{
    display: flex;
    justify-content: center;
    color: #C70039;
    font-size: large;
    font-weight: bold;
}

/* Tabla */
.pokemon-table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pokemon-table {
    width: 65%;
    border-collapse: collapse;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

.pokemon-table thead {
    background-color: #1e86ac;
}

.pokemon-table th {
    padding: 10px;
    color: #333;
    font-weight: bold;
}

.pokemon-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pokemon-table img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.pokemon-table tbody tr:nth-child(odd) {
    background-color: #A3E4D7;
}

.pokemon-table tbody tr:nth-child(even) {
    background-color: #D4EFDF;
}

.pokemon-table td, .pokemon-table th {
    border: 1px solid #76D7C4;
}

/*Botones modificar y dar de baja pokemones*/
.modif{
    padding: 5px 15px;
    background-color: #ff6d4d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.modif:hover {
    background-color: #C70039;
}

.baja{
    padding: 5px 15px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.baja:hover{
    background-color: darkgreen;
}

.nuevo-pokemon button{
    padding: 5px 15px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.nuevo-pokemon button:hover{
    background-color: blue;
}

.nuevo-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f6e86f;
    border-top: 3px solid #FF5733;
    color: #2E3A59;
    font-size: 1rem;
}

/*Detalle de Pokemon*/

.main-container {
    margin: 40px auto;
    max-width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-back {
    background-color: #2a75bb;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-back:hover {
    background-color: #1a56a3;
    color: white;
}

.pokemon-detail {
    padding: 30px;
    text-align: center;
}

.pokemon-info img.main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pokemon-info h2 {
    font-size: 2.5rem;
    color: #2a75bb;
    margin-bottom: 15px;
}

.pokemon-info p.description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.tipos {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tipos-badge {
    display: flex;
    align-items: center;
    background-color: #2a75bb;
    color: #fff;
    padding: 8px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #1a56a3;
}

.tipos-badge img {
    width: 30px;
    height: 30px;
    margin-right: 0px;
}

.evoluciones {
    margin-top: 40px;

}


.evoluciones-titulo {
    font-size: 1.8rem;
    color: #ffcb05;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
}

.evoluciones h3::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #2a75bb;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.evolution-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.evolution-item {
    text-align: center;
}

.evolution-item img.evolution-image {
    width: 66.67%;
    max-width: 200px;
    height: auto;
    border: 3px solid #ffa500;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.evolution-item p {
    font-size: 1rem;
    color: #2a75bb;
    margin-top: 5px;
}

.pokemon-not-found {
    text-align: center;
    font-size: 1.5rem;
    color: #dc3545;
    margin-top: 50px;
}

